:root {
  // Primary
  --tui-base-01: #222;
  --tui-text-01: #fff;
  --tui-primary: #526ed3;
  --tui-primary-hover: #6c86e2;
  --tui-primary-active: #314692;

  // Link
  --tui-link: #6788ff;
  --tui-link-hover: #526ed3;

  // Selection
  --tui-selection: #f3fadc;
}
