<tui-scrollbar>
  <cdk-virtual-scroll-viewport
    tuiScrollable
    itemSize="10"
    class="viewport tui-zero-scrollbar">
    <div
      *cdkVirtualFor="let user of users"
      class="viewport__item tui-space_bottom-4 tui-col_xs-12 tui-col_lg-3 tui-col_md-4">
      <a tuiIsland [hoverable]="true" [routerLink]="['/user/', user.login]">
        <div class="tui-island__content">
          <h3 class="tui-island__title">{{ user.login }}</h3>
          <div class="tui-island__figure">
            <tui-avatar [rounded]="true" [avatarUrl]="user.avatar"></tui-avatar>
          </div>
        </div>
      </a>
    </div>
  </cdk-virtual-scroll-viewport>
</tui-scrollbar>
